<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<!-- <link type="text/css" rel="stylesheet" href="file:///E:/mestrado_cont/teste_server_peripherals/static/style_teste1.css"> -->
		<title>
			Ciermag Peripherals Editor
		</title>
	</head>

	<body>
		<center>
			<img src="{{ url_for('static', filename='banner-ciermag-cores.png') }}">
			<!-- src="file:///E:/mestrado_cont/teste_server_peripherals/templates/banner-ciermag-cores.png" -->
			<h1>Ciermag Peripherals</h1>
			<h2>TEDS Editor Area</h2>
			<br>
			<p> {{ message }} </p>
			<p> {{ method }} </p>
      		
			<form action = "http://10.42.0.116:5000/uploader" method = "POST" 
         		enctype = "multipart/form-data">
         		
         		<table> 
         			<th>Available Scripts</th>
         			
         			{% for scriptid in script_dictlist['scripts'] %}
						<tr>
							<td id="tdnormal">
								<a href="{{ url_for('run_script', selected_script=scriptid['script_name']) }}"><p id="ptable">{{scriptid['script_name']}}</p></a>
							</td>
						</tr>
					{% endfor %}
				</table>
				
				<table>
					<th colspan="2">New Script</th>	
					<tr>
						<td id="tdnormal">
							<p> </p>
						</td>
						
						<td id="tdnormal">
							<p> Script Name <p>
						</td>						
						
					</tr>	
         			<tr>
         				<td id="tdnormal">
         					<input type = "file" name = "file" />
         					<input type = "submit"/>
         				</td>
         				<td id="tdnormal">	
         					<input type="text" name="Script Name" value=" ">
         				</td>	
         			</tr>
         		</table>
      		</form>
			
			<a href="{{ url_for('main_page') }}"><p id="ptable">Back to Main</p></a>
			<br>
			<p> {{ current_time }} </p>
		</center>
	</body>
</html>